/* Styles Dark Mode */

.App.dark {
  background-color: #373737;
  color: #ffffff;
  transition: all 1s ease;
}

.marginContainer .dark {
  border: 1px solid #e8e8e8;
}

/* Header */

.dark .modeButton {
  border: 1px solid #ffffff;
  background-color: #373737;
  color: #ffffff;
}

/* SearchBar */

.dark .searchInput {
  border: 1px solid #ffffff;
  background-color: #373737;
  color: #ffffff;
}

.dark .searchButton {
  border: 1px solid #ffffff;
}

/* Results */

.dark .containerGifs {
  background-color: #212121;
}
